#menu {
    height:75px ;
    background-color: white;
    display: block;
    text-align: right;
}

li {
    display: inline;
}

a {
    color: black
}

#content {
    background-color : #FACC2E;
    height: 708px;
}

#content {
    position:relative;
}

#enfant {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}